<!DOCTYPE html>
<html>

<head th:replace="common/head">

</head>


<body>
	<nav th:replace="common/nav"></nav>


	<div class="jumbotron" id = "h2" style="background-color: #FFFAFA;">
		<div class="container text-center">	
			<div class="container">
				<h1 style ="font-family:fantasy; color:#DDA0DD">
					<strong>
						insert Coin Game zone
						<br>
						<img src="images/stick01.png" style = "width:20%">
					</strong>
				</h1>
				<br>
				<h4></h4>
			</div>
		</div>
	</div>

	<div class="container-fluid bg-3 text-center">
		<!-- <h3>game list</h3> -->
		<br>
		<div id="portfolio-grid" class="row no-gutter" data-aos="fade-up" data-aos-delay="200">

			<div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
				<figure class="snip1200">
					<img src="images/1.jpg" alt="sq-sample27" />
					<figcaption>
						<p>ㅇㄱㅇ ㅊㅅ ㄱㅇㅇㄷ.</p>
						<div class="heading">
							<h2>
								초성
								<span> 게임</span>
							</h2>
						</div>
					</figcaption>
					<a href="/gameintro01"></a>
				</figure>
			</div>

			<div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
				<figure class="snip1200">
					<img src="images/2.jpg" alt="sq-sample27" />
					<figcaption>
						<p>빠르고 정확하게 말하는 사람이 승리</p>
						<div class="heading">
							<h2>
								잰말
								<span> 게임</span>
							</h2>
						</div>
					</figcaption>
					<a href="/game6start"></a>
				</figure>
			</div>

			<div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
				<figure class="snip1200">
					<img src="images/3.jpg" alt="sq-sample27" />
					<figcaption>
						<p>주사위의 숫자가 홀인지 짝인지 맞추시오</p>
						<div class="heading">
							<h2>
								홀짝
								<span> 게임</span>
							</h2>
						</div>
					</figcaption>
					<a href="/testgame_2"></a>
				</figure>
			</div>


			<div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
				<figure class="snip1200">
					<img src="images/4.jpg" alt="sq-sample27" />
					<figcaption>
						<p>꽝을 뽑을 사람은 누구?</p>
						<div class="heading">
							<h2>
								복불복
								<span> 게임</span>
							</h2>

						</div>
					</figcaption>
					<a href="/testgame_3"></a>
				</figure>
			</div>

			<div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
				<figure class="snip1200">
					<img src="images/G9.jpg" alt="sq-sample27" />
					<figcaption>
						<p>숫자를 맞춰보세요</p>
						<div class="heading">
							<h2>
								랜덤
								<span> 숫자 맞추기</span>
							</h2>
						</div>
					</figcaption>
					<a href="/testgame_7info"></a>
				</figure>
			</div>


			<div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
				<figure class="snip1200">
					<img src="images/G7.jpg" alt="sq-sample27" />
					<figcaption>
						<p>랜덤으로 나오는 수를 계산해보셈, 어려울 걸?ㅋㅋㅋ</p>
						<div class="heading">
							<h2>
								랜덤 사칙연산
								<span> 게임</span>
							</h2>
						</div>
					</figcaption>
					<a href="/testgame_8"></a>
				</figure>
			</div>
		</div>


		<div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
			<figure class="snip1200">
				<img src="images/G10.jpg" alt="sq-sample27" />
				<figcaption>
					<p>닿으면 죽는다</p>
					<div class="heading">
						<h2>
							꼬리
							<span> 물기</span>
						</h2>
					</div>
				</figcaption>
				<a href="/testgame_9"></a>
			</figure>
		</div>


		<div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
			<figure class="snip1200">
				<img src="images/G11.jpg" alt="sq-sample27" />
				<figcaption>
					<p>방향키를 조정해서 상자를 맞춰라</p>
					<div class="heading">
						<h2>
							미니
							<span> 포트리스</span>
						</h2>
					</div>
				</figcaption>
				<a href="/testgame_10"></a>
			</figure>
		</div>


		<div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
			<figure class="snip1200">
				<img src="images/G12.jpg" alt="sq-sample27" />
				<figcaption>
					<p>
						<I>
							<strike>크게 한탕..(어이??)</strike>
						</I>
					</p>
					<div class="heading">
						<h2>
							777
							<span> 룰렛게임</span>
						</h2>
					</div>
				</figcaption>
				<a href="/testgame_11"></a>
			</figure>
		</div>
	</div>

	<div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
		<figure class="snip1200">
			<img src="images/G13.jpg" alt="sq-sample27" />
			<figcaption>
				<p>스페이스바와 방향키를 이용한 미니 슈팅게임</p>
				<div class="heading">
					<h2>
						미니
						<span> 슈팅게임</span>
					</h2>
				</div>
			</figcaption>
			<a href="/testgame_12"></a>
		</figure>
	</div>


	<div class="item web col-sm-6 col-md-4 col-lg-4 mb-4">
		<figure class="snip1200">
			<img src="images/G14.jpg" alt="sq-sample27" />
			<figcaption>
				<p>마우스로 즐기는 핑퐁게임</p>
				<div class="heading">
					<h2>
						핑퐁
						<span> 게임</span>
					</h2>
				</div>
			</figcaption>
			<a href="/testgame_13"></a>
		</figure>
	</div>





	<br>



	<footer th:replace="common/footer"> </footer>

	<script>
	document.getElementById("h2").style.font = "blue";
	
		
		$(".hover").mouseleave(function() {
			$(this).removeClass("hover");
		});

		if (opener != null) {
			window.close(); //현재 창 끄기
		}
	</script>
</body>
</html>
