@import url(https://fonts.googleapis.com/css?family=Oswald);


p {
 
    top: 250px;
    font: normal 18px Oswald, sans-serif;
    color: white;
}

p a {
    text-decoration: none;
    font: bold 18px Oswald, sans-serif;
    color: pink;
}

p a:hover {
    border-bottom: 1px dotted pink;
}

.nav {
    margin: 0;
    padding: 0;
    background-color: #1c2020;
    float: left;
    list-style: none;
}

.nav li {
    float: left;
}

.nav li a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 16px;
    font: bold 20px Oswald, sans-serif;
    text-transform: uppercase;
    color: white;
    position: relative;
}

#red {
    border-top: 2px solid red;
}

#red:hover {
    background-color: red;
}

#orange {
    border-top: 2px solid orange;
}

#orange:hover {
    background-color: orange;
}

#yellow {
    border-top: 2px solid yellow;
}

#yellow:hover {
    background-color: yellow;
    color: #1c2020;
}

#green {
    border-top: 2px solid green;
}

#green:hover {
    background-color: green;
}

#blue {
    border-top: 2px solid blue;
}

#blue:hover {
    background-color: blue;
}

#indigo {
    border-top: 2px solid indigo;
}

#indigo:hover {
    background-color: indigo;
}

#purple {
    border-top: 2px solid purple;
}

#purple:hover {
    background-color: purple;
}

.nav ul {
    display: none;
}

.nav li:hover ul {
    display: block;
    position: absolute;
    list-style: none;
    background-color: #1c2020;
    padding: 0px;
}

.nav li:hover li {
    display: block;
    float: none;
}

.nav li:hover li a {
    width: 300px;
    font: normal 14px Oswald, sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.nav li:hover li a:hover {
    background-color: green;
}

.nav li:hover > a {
    background-color: green;
}




@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800)
	;

figure.snip1200 {
	font-family: 'Raleway', Arial, sans-serif;
	position: relative;
	overflow: hidden;
	margin: 10px;
	width: 400px;
	height: 400px;
	width: 100%;
	background: #000000;
	color: #ffffff;
	text-align: center;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	font-size: 16px;
}

figure.snip1200 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.45s ease-in-out;
	transition: all 0.45s ease-in-out;
}

figure.snip1200 img {
	max-width: 100%;
	position: relative;
	opacity: 0.9;
}

figure.snip1200 figcaption {
	position: absolute;
	top: 45%;
	left: 7%;
	right: 7%;
	bottom: 45%;
	border: 1px solid white;
	border-width: 1px 1px 0;
}

figure.snip1200 .heading {
	overflow: hidden;
	-webkit-transform: translateY(50%);
	transform: translateY(50%);
	position: absolute;
	bottom: 0;
	width: 100%;
}

figure.snip1200 h2 {
	display: table;
	margin: 0 auto;
	padding: 0 10px;
	position: relative;
	text-align: center;
	width: auto;
	text-transform: uppercase;
	font-weight: 400;
}

figure.snip1200 h2 span {
	font-weight: 800;
}

figure.snip1200 h2:before, figure.snip1200 h2:after {
	position: absolute;
	display: block;
	width: 1000%;
	height: 1px;
	content: '';
	background: white;
	top: 50%;
}

figure.snip1200 h2:before {
	left: -1000%;
}

figure.snip1200 h2:after {
	right: -1000%;
}

figure.snip1200 p {
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	position: absolute;
	width: 100%;
	padding: 0 20px;
	margin: 0;
	opacity: 0;
	line-height: 1.6em;
	font-size: 0.9em;
}


figure.snip1200 a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}

figure.snip1200:hover img, figure.snip1200.hover img {
	opacity: 0.25;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

figure.snip1200:hover figcaption, figure.snip1200.hover figcaption {
	top: 7%;
	bottom: 7%;
}

figure.snip1200:hover p, figure.snip1200.hover p {
	opacity: 1;
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}







@charset "utf-8";
/* CSS Document */



#header h1, #pixels{
	color: #48941A;
}

.float-left_hm{
	float: left;	
	margin: 0 0 0 20px;
}

.float-right_hm{
	float: right;
	margin: 0 20px 0 0;
}

.center{
	font-size: 2.5em;
	padding: 80px 0 0 0;
	text-align: center;
}



#header, #intro_hm, #second{
	width: 100%;
}

#intro_hm{
	background:url(images/sunrise-1756274_1920.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	padding: 0;
}

#intro_hm1{
	background:url(images/G3.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 600px;
	margin: 0 auto;
	padding: 0;
}

#second{
	background: url(https://ianlunn.co.uk/plugins/jquery-parallax/images/secondBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 1300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0;
}



#second .bg_hm{
	background: url(https://ianlunn.co.uk/plugins/jquery-parallax/images/trainers.png) 50% 0 no-repeat fixed;
	height: 1300px;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	width: 900px;
	z-index: 200;
}

#third{
	background: url(https://ianlunn.co.uk/plugins/jquery-parallax/images/thirdBG.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 900px;
	padding: 100px 0 0 0;	
}

#fourth{
	background:url(images/orion-nebula-11107_1920.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 900px;
	margin: 0 auto;
	padding: 0;
}

#gameintro_2{
	background: url(images/G4.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 900px;
	padding: 100px 0 0 0;	
}


#gameintro_3{
	background: url(images/G5.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 900px;
	padding: 100px 0 0 0;	
}

#gameintro_4{
	background: url(images/G6.jpg) 50% 0 no-repeat fixed;
	color: white;
	height: 900px;
	padding: 100px 0 0 0;	
}

.story_hm{
	margin: 0 auto;
	min-width: 980px;
	overflow: auto;
	width: 980px;
}

.story_hm .float-left_hm, .story_hm .float-right_hm{
	padding: 100px 0 0 0;
	position: relative;
	width: 350px;	
}



